.badfennec-todo {
    background-color: #f9f9f9;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    padding: 20px;

    .badfennec-todo__not-completed-container, .badfennec-todo__completed-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    &.badfennec-todo--dragging {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .badfennec-todo__item {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        box-sizing: border-box;

        &.badfennec-todo__item--dragging {
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }

        &.badfennec-todo__item--placeholder {
            opacity: 0;
            transition: height .5s ease;
        }

        &.badfennec-todo__item--completed {
            color: #888;

            .badfennec-todo__text {
                text-decoration: line-through;
            }
        }
    }
}