.badfennec-todo {
    background-color: #f9f9f9;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    padding: 20px;

    .badfennec-todo__not-completed-container, .badfennec-todo__completed-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    &.badfennec-todo--dragging {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .badfennec-todo__item {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px 12px;
        display: flex;
        align-items: flex-start;
        gap: 12px;
        box-sizing: border-box;

        &.badfennec-todo__item--dragging {
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }

        &.badfennec-todo__item--placeholder {
            opacity: 0;
            transition: height .5s ease;
        }

        &.badfennec-todo__item--completed {
            color: #888;

            .badfennec-todo__text {
                text-decoration: line-through;
            }
        }

        .badfennec-todo__shape {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1 / 1;
            width: 18px;

            svg {
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }
}