.badfennec-todo {
    background-color: #f9f9f9;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    padding: 10px;

    &.badfennec-todo--dragging {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .badfennec-todo__item {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        box-sizing: border-box;

        &.badfennec-todo__item--dragging {
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }

        &.badfennec-todo__item--placeholder {
            opacity: 0;
            transition: height .5s ease;
        }
    }
}