.badfennec-todo {
    background-color: #f9f9f9;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    padding: 20px;

    &.badfennec-todo--dragging {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .badfennec-todo__item {
            transition: padding .3s ease;
        }
    }

    .badfennec-todo__shape {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        width: 18px;

        svg, img {
            display: block;
            width: 100%;
            height: auto;
        }
    }/* .badfennec-todo__shape */

    .badfennec-todo__item, .badfennec-todo__add-new-item-box {
        .badfennec-todo__item-container, .badfennec-todo__add-new-item-container {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            padding-inline: 10px;
        }
    }

    .badfennec-todo__add-new-item-box {
        .badfennec-todo__add-new-item-container {
            &:before {
                content: '';
                width: 18px;
            }
        }
    }

    .badfennec-todo__item {  
        
        .badfennec-todo__item-container {
            
            padding-block: 10px;            
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            transition: box-shadow .3s ease, background-color .3s ease;
        }

        &.badfennec-todo__item--dragging {

            z-index: 1000;
            background-color: transparent;

            .badfennec-todo__item-container {
                opacity: .8;
                box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            }
        }

        &.badfennec-todo__item--intersected {
            .badfennec-todo__item-container {
                background-color: orange;
            }
        }

        &.badfennec-todo__item--completed {
            color: #888;

            .badfennec-todo__text {
                text-decoration: line-through;
            }
        }
    }/* .badfennec-todo__item */
}